/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-dec-2019, 15:32:44
    Author     : visse
*/

.root{
    -fx-font-size: 13pt;
    -fx-font-family: "Verdana";
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-repeat: stretch;
    -fx-background-image: url("achtergrond_1.PNG");
}

.page--title{
    -fx-font-size: 22pt;
    -fx-font-weight: 700;
    -fx-text-alignment: center;
}

.page--section{
    -fx-font-size: 14pt;
    -fx-font-weight: 700;
}

.page--label{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-size: 13pt;
    -fx-font-weight: 600;
}

.combo-box-base{
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-color: rgb(197, 197, 197);
    -fx-border-width: 1 1 1 1;
}

.TextField{
    -fx-background-color: rgb(190, 215, 232); 
    -fx-font-size: 13pt;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.btn--default{
    -fx-font-size: 13pt;
    -fx-background-color: rgb(190, 215, 232);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: rgb(190, 215, 232);
    -fx-border-width: 2 2 2 2;
}

.btn--default:hover{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: rgb(92, 143, 237);
    -fx-border-color: rgb(92, 143, 237);
}

.feedback__label{
    -fx-font-size: 11pt;
    -fx-font-weight: 400;
}

.label--succes{
    -fx-text-fill: rgb(40, 167, 69);
}

.label--error{
    -fx-text-fill: rgb(200, 2, 27);
}
.invoer--succes{
    -fx-border-color: rgb(40 , 167, 69);
    -fx-border-width: 2 2 2 2;
}

.invoer--error{
    -fx-border-color: rgb(200 , 2, 27);
    -fx-border-width: 2 2 2 2;
}

.btn--disabeld{
    -fx-opacity: 0.5;
}
.ListView{
    -fx-font-size: 16pt;
    -fx-background-color: rgb(190, 215, 232);
    -fx-border-width: 2 2 2 2;
}


