/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-dec-2019, 15:32:44
    Author     : visse
*/

.root{
    -fx-font-family: "Verdana";
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-repeat: stretch;
    -fx-background-image: url("achtergrond_1.PNG");
}

.TextField{
    -fx-background-color: rgb(190, 215, 232); 
    -fx-font-size: 18pt;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.btn--default{
    -fx-font-size: 16pt;
    -fx-background-color: rgb(190, 215, 232);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: rgb(190, 215, 232);
    -fx-border-width: 2 2 2 2;
}

.btn--default:hover{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: rgb(92, 143, 237);
    -fx-border-color: rgb(92, 143, 237);
}

.label--error{
    -fx-text-fill: rgb(200, 2, 27);
}
.Label{
    -fx-font-size: 16pt;
}


.list-view{
    -fx-background-color: rgb(190, 215, 232); 
    -fx-font-size: 16pt;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.list-view .list-cell:even {
    -fx-font-size: 16pt;
    -fx-background-color: rgb(190, 215, 232);
    -fx-font-size: 13pt;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.list-view .list-cell:odd {
    -fx-font-size: 16pt;
    -fx-background-color: rgb(202, 220, 232);
    -fx-font-size: 13pt;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.BtnVerwijder{
    -fx-font-size: 13pt;
    -fx-background-color: rgb(139,0,0);
    -fx-border-width: 2 2 2 2;
}


